@import '../../../styles.scss';

.add-animal {
    width: 31vw;
    margin: 7em auto 2em auto;
    color: $base-text-color;
    border-radius: $border-radius;
    background: rgb(224, 228, 227);
    min-width: 210px;

    &__heading {
        margin-bottom: .5em;
        padding: .6em .7em;
        font-size: 3.3vh;
    }
    
    &__form {
        &__animal-name__label,
        &__animal-sound__label {
            font-size: 3vh;
            padding-right: 1em;
        }
    
        &__animal-name {
            margin-bottom:.5em;
        }
        &__animal-sound__label {
            padding-right: .8em;
        }

        &__animal-name__input,
        &__animal-sound__input {
            border-radius: $border-radius;
            border: 1px solid grey;
            font-family: $font-family;
            color: rgb(36, 35, 53);
            padding: 0 0 .2em .3em;
            font-size: 2.6vh;
        }
        
        &__animal-name__input:focus,
        &__animal-sound__input:focus {
            box-shadow: 0 0 0 0.1rem $base-color;
            outline: none;
        }

        &__button {
            margin: .7em;

            &__add-animal {
                margin-bottom: .7em;
                font-size: 1.1em;
                padding: .4em;
                border: 1px solid $base-color;
                border-radius: $border-radius;
                background: $base-color;
                color: rgb(225, 255, 255);

                &:disabled {
                    cursor: not-allowed;
                    background-color: rgb(138, 109, 94);
                    border-color: rgb(138, 109, 94); 
                }
            }
        }
    }
}