@import '../../../styles.scss';

.animal__verse {
    margin: 0 auto;
    padding: .5em 0;
    width: 31vw;
    background: rgb(224, 228, 227);
    border-radius: $border-radius;
    font-size: $base-color-font-size;
    min-width: 230px;
    color: rgb(71, 46, 33)
}