@import '../../styles.scss';

.header {
    border: none solid $base-color;
    background: $base-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    
    &__site-name,
    &__buttons__add-animal {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    &__site-name {
        font-size: 4.3vh;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        &:hover {
            cursor: pointer;
        } 
    }

    &__buttons {
        float: right;
        margin: .8em;

        &__add-animal {
            font-size: 3.3vh;
            border: none;
            border-radius: $border-radius;
            padding: .3em;
            color: $base-color;
            background: rgb(255, 255, 255);
            max-width: 100%;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}